<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>Library Inventory Management</h1>
        <form id="addStatus" action="/loan_status" method="post">
            <h2>Add loan status</h1>
            <label>Status Name: </label>
            <input type="text" name="statusDescription" required><br>
            <p><input type="submit" value="Create Status"></p>
        </form>
        <table>
            <caption>Statuses</caption>
            <thead>
                <th>Status ID</th>
                <th>Status Name</th>
                {{!-- <th>Delete</th> --}}
            </thead>
            <tbody>
                {{#each statuses}}
                    <form action="/delete_loan_status" method="post" onsubmit="return confirm('Deleting this atatus will also delete all loans with that status.')">
                        <tr>
                            <input type="hidden" id="statusID" name="statusID" value={{statusID}}>
                            <td>{{statusID}}</td>
                            <td>{{statusDescription}}</td>
                            {{!-- <td><input type="submit" value="Delete"/></td> --}}
                        </tr>
                    </form>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>