<main>
    <h2>Testing123</h2>
    <p>
        <a href="/title_management">Manage Titles</a>
    </p>
    <p>
        <a href="/books">Manage Book Inventory</a>
    </p>
    <p>
        <a href="/add_patron">Add New Patron</a>
    </p>
    <p>
        <a href="/create_loan">Create a Loan</a>
    </p>
    <p>
        <a href="/loan_status">Create New Loan Status</a>
    </p>
    <p>
        <a href="/edit_loan">Edit Loan Items</a>
    </p>
</main>