<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/titles">Titles</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/add_patron">Add a Patron</a></li>
            <li><a href="/create_loan">Create a Loan</a></li>
            <li><a href="/edit_loan">Edit a Loan</a></li>
            <li><a href="/loan_status">Loan Statuses</a></li>
            <li><a href="/add_title">Add a Title</a></li>
        </ul>
    </nav>
    <p>
        <h1>Welcome to the TESTING Library</h1>
    </p>
</header>