<header>
    <nav>
        <table>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/titles">Titles</a></td>
                <td><a href="/books">Books</a></td>
                <td><a href="/patrons">Patrons</a></td>
                <td><a href="/create_loan">Loans</a></td>
                <td><a href="/loan_items">Loan Details</a></td>
                <td><a href="/loan_status">Loan Statuses</a></td>
            </tr>
        </table>
    </nav>
</header>